<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MS2000.Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="MS2000.Desktop.Properties.Settings.conn" connectionString="Data Source=msserver01;Initial Catalog=MS2000;User ID=sa;Password=lasbrug30@" providerName="System.Data.SqlClient"/>
    <add name="MS2000.Desktop.Properties.Settings.access" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\SISCOPRD\import.prd\import.mdb;Persist Security Info=True" providerName="System.Data.OleDb"/>
    <add name="MS2000.Desktop.Properties.Settings.MS2000ConnectionString" connectionString="Data Source=MSDB01\MSSERVER01;Initial Catalog=MS2000;Persist Security Info=True;User ID=sa;Password=lasbrug30@" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <MS2000.Desktop.Properties.Settings>
      <setting name="MsDomain" serializeAs="String">
        <value>rjo-mslogistica.com.br</value>
      </setting>
      <setting name="MsUserName" serializeAs="String">
        <value>ms2000</value>
      </setting>
      <setting name="MsPassword" serializeAs="String">
        <value>ms@12345</value>
      </setting>
    </MS2000.Desktop.Properties.Settings>
  </userSettings>
</configuration>
