@model IEnumerable<MS2000WEB.Models.RH_Formularios>

@{
    ViewBag.Title = "Formulario - Lista de Arquivos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="breadcrumb">
    <li><a href="#">Home</a> <span class="divider">></span></li>
    <li><a href="#">RH</a> <span class="divider">></span></li>
    <li><a href="#">Formulário</a> <span class="divider">></span></li>
    <li><a href="#">Cadastro</a> <span class="divider">></span></li>
    <li class="active">Index</li>
</ul>


<h4>Formulário</h4>
<hr />


<div class="row">
    <div class="span3">@Html.ActionLink("Novo", "Create", null, new { @class = "btn btn-inverse" })</div>
    <div class="span6 offset*">
        <form class="form-search">
            <label>Pesquisar por Título:</label>
            @Html.TextBox("txtTitulo", null, new { @class = "span3 search-query" })
            <button type="submit" class="btn btn-inverse">Pesquisar</button>
        </form>
    </div>
</div>

<div style="overflow-y: auto;">
    @{
        if (Model.Count() > 0)
        {
            WebGrid grid = new WebGrid(source: Model, rowsPerPage: 10, canSort: false, ajaxUpdateContainerId: "grid");
        @grid.GetHtml(htmlAttributes: new { id = "grid" },
                                tableStyle: "grade",
                                headerStyle: "header",
                                alternatingRowStyle: "alt",
                                selectedRowStyle: "selected",
                                columns: grid.Columns(
                                grid.Column("Data", header: "Data", format: (item) => item.data != null ? item.data.ToString("dd/MM/yyyy") : "", canSort: true),
                                grid.Column("Titulo", header: "Titulo"),           
                                grid.Column("", "Ações", style: "gridacao", format: @<text>
        @Html.ActionLink("Deletar", "Delete", new { Id = item.Id })</text>
                                                            )));
        }
        else
        {    
        <div class="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            @* <h4>Aviso!</h4>*@
            Não existe registro para o parametro especificado!
        </div>    
        }
    }
</div>
